
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-top: 8%;
    padding-right: 8%;
 }
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
 }
 
 nav ul li a:hover{
    color: #f9004d;
    transition: .4s;
 }
 .btn{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
 }
 .btn:hover{
    transform: scale(1.2);
}
.table{
    border: 8px;
    border-color: blueviolet;
    background-color: blue;
}
.head{
    color: #f9004d;
}
.sub-head{
    color: green;
} 